Source: rca
Section: math
Priority: optional
Maintainer: Paul Fox <pgf@foxharp.boston.ma.us>
Build-Depends: debhelper-compat (= 13),
		libedit-dev,
		libmpdec-dev,
		git
Standards-Version: 4.7.0
Homepage: https://foxharp.github.io/rca/

Package: rca
Architecture: any
Depends: libedit2, libmpdec4, ${shlibs:Depends}, ${misc:Depends}
Description: RPN and infix format scientific and programmer's calculator
 rca is a command-line calculator which can operate seamlessly in
 either RPN or infix mode.  It uses the mpdecimal library, with 30 digits
 of precision by default.  It's a convenient, non-programmable,
 desktop calculator, for typical one-off professional and everyday
 problems.
 .
 rca has the usual scientific and engineering operations, as well
 as support for different bases, word widths, and bitwise operations
 to make it useful as a programmer's calculator.
 .
 rca was inspired by the author's HP-35, HP-25c, and HP-16c calculators.
