#!/usr/bin/make -f

# I was going to turn off link-time optimization, because it enables a
# version of "-Wfree-nonheap-object", which falsely detects free()
# problems in rca.c:tfree().  But I don't see the problem when running
# dpkg-buildpackage on debian trixie -- I only see it on Ubuntu 24.04.
# So I guess I'll leave things as-is for now, since I'm not building for
# ubuntu.
#    export DEB_BUILD_MAINT_OPTIONS = optimize=-lto

%:
	dh $@
